<launch>
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" value="true"/>
    <arg name="rgb_frame_id" value="/openni_rgb_optical_frame"/>
  </include>
  <node name="drop1" pkg="topic_tools" type="drop" args="/camera/depth_registered/points 2 3 /drop/points"/>
  <!--<node name="drop2" pkg="topic_tools" type="drop" args="/camera/depth_registered/image_rect 0 5 /drop/depth"/>-->
  <node name="preprocessor" pkg="binary_symlinks" type="preprocessor_node"  args="--inputTopic=/drop/points --downsample=.015 --removeOutliers=0 --zClipLow=0 --clusterTolerance=.025 --clusterMinSize=20"/>
</launch>